/* this file is loaded by index.html and styles the page */

* {
  box-sizing: border-box;
}

a
{
	color: #FFFFFF;	
}
a:visited {
  color: #AFAfAf;
}
body {
  bgcolor: #303030;
  color: #FFFFFF;
  font-family: sans-serif;
  margin: 2em 1em;
  line-height: 1.5em;
}

h3
{
  text-align: center;    
}

table
{
  text-align: left;  
}

tr
{
  text-align: left;
}
td {  
  text-align: left;
}

.barleft
{
  -webkit-border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;  
}

.barright
{
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0px;  
}

h1 {  
  font-style: italic;
  color: #FFFFFF;
  max-width: calc(100% - 5rem);
  line-height: 1.1;
  text-align: left;
}
  
h3
{
  font-style: italic;
}

img
{
   border-radius: 50%;
}
img.cc
{
   border-radius: 0%;
}